@{
    ViewBag.Title = "_StatusErrorsPartial";
}

@if (false)
{
}
else
{
    <tr data-clickable=false>
        <td colspan="5" style="font-weight: bold;text-align: center;font-size: 18px;padding: 20px">
            Nog geen Data
        </td>
    </tr>
}
